// Import des variables et mixins
@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.banner {
  @include center-content; // Utilisation du mixin pour centrer
  width: 97%;
  height: 210px;
  border-radius: 25px;
  background-position: 25% 50%;
  background-size: cover;
}

h1 {
  color: $secondary-color; // Utilisation de la variable
  font-size: 48px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 125px;
    justify-content: flex-start;
  }

  .banner-about {
    height: 250px;
  }

  .banner h1 {
    font-size: 24px;
    margin-left: 20px;
    min-width: 221px;
  }
}
